<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asu.storia">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/storia_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/storia_app_icon"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true">
        <activity android:name=".activities.StoriaHomeActivity" android:theme="@style/AppTheme1"></activity>
        <activity android:name=".activities.StoriaSignInActivity" android:theme="@style/AppTheme" />
        <activity android:name=".activities.StoriaSignUpActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".activities.StoriaMainActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".activities.StoriaBaseActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.ScreenOnOffReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.SET_WALLPAPER">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.UpdateLockScreenStorySerivce"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>